App With user login 
Available menu
-Upcoming events
-Race result
-My account

Upcoming events (races)
List of upcoming events/ races
Clickable to view details 
On the events details page, information will be displayed
 categories with radio button
will also be displayed so that participants can select category.



Then Yung participants may qr code Sila. 
Yung admin scan nya qr code ng participants, tapos lalabas na details nya. 
Then may itatape na button si admin "Assign Bib no."

Then may option to input manualy or scan qr code 
Then I click ng admin Yung save.


# January 9, 2025
Pag nag click ng event may mga button na lalabas.

- Manage event
- Manage startlist (eto Yung magdodowload ng startlist)
Pagkaclick ng manage startlist madodownload sya locally 

Bale pagka download ng list, Meron datagrid for list ng runners showing
Name, 
gender,
Distance
Category
Bib number (if already assigned) 
 With status
- Green  kapag ok na
- red kapag Di pa ok

Then may button na search
Then pwede mag search Pwedeng by typing ref no. or scan ng barcode / qr code.

Then kapag na search na may button na "Assign bib"
Then lalabas input box (for manual type) or camera for scan qr code.

Then one assigned na mag green status.
Then may option. To upload data.